<div class="title-area">
  Movies App
</div>

<div class="list-area area">
  <app-movie-list
    (selectionRequested)="setCurrentMovie($event)"
  ></app-movie-list>
</div>
<div *ngIf="!isBusy" class="details-area area">
  <app-movie-details
    *ngIf="isUserSelect"
    [caption]="currentMovie.caption"
    [poster]="currentMovie.poster"
    [description]="currentMovie.description"
  ></app-movie-details>
</div>
<img
  *ngIf="isBusy"
  src="https://cdn.dribbble.com/users/29051/screenshots/2347771/spinner.mov.gif"
/>
